<%- include('../../../templates/adminNavbar.ejs') -%>

<!--==========================
Services Section
============================-->
<section id="services">
<div class="container wow fadeInUp">


  <div class="row">
    <!-- YOUR CODES HERE -->


<div class="row">

<!--        <div class="col-6 col-md-6">-->

    <center>
     <h3 class="section-title">Payments</h3>
          <div class="section-title-divider"></div>

       <div style="overflow-y: scroll; min-height:100;">
        <% if (content.length == 0 || content == 'undefined' || content == NULL) { %>
            <h5>No Payments</h5>
        <% } else {%>
          <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <!-- <table width="1000px" border="2px" align="center" style="overflow-y: auto; min-height:100;"> -->
            <thead>
                <tr>
                <th>Payment No.</th>
                <th>Payee</th>
                <th>Event Name</th>
                <th>Amount Paid</th>
                <th>Balance</th>
                <th align="center">Actions</th>
                <th align="center">Status</th>
              </tr>
            </thead>


            <tbody>
<!--                    <form>-->
              <% content.forEach(function(i){ %>
                <tr>
                <td><%= i.intPaymentNo %></td>
                <td><%= i.strOrganizerFName %> &nbsp; <%= i.strOrganizerLName %></td>
                <td><%= i.strEventName %></td>
                <td align="right"><%= i.decAmountPaid %></td>
                <td></td>
                <td align="center"><button type="submit" class="viewButton btn btn-secondary btn-sm"  data-toggle="modal" data-target="#">Other Details</button></td>
                <td><% if(i.intStatus == 1) { %>
                  <p>Paid</p>
                <% } %>
                <% if(i.intStatus == 0) { %>
                  <p>Unpaid</p>
                <% } %>
                <% if(i.intStatus == 2) { %>
                  <p>Partial</p>
                <% } %>
                </td>
              </tr>
              <% }); %>
            </tbody>

        </table>
        <% } %>



        </div>
        </center>

</div>

<br>

<!-- END OF YOUR CODES -->
  </div>
</div>
</section>


<script>

$(document).ready(function() {
  $('#example').DataTable( {
      select: true
  } );
} );
</script>




<%- include('../../../templates/footer.ejs') -%>
